/* app css stylesheet */


.menu {
  list-style: none;
  margin-bottom: 2em;
  margin-left: 354px;
  padding: 0 0 0.5em;
  font-size: 20pt;
  height: 102px;
  line-height: 100px;
  text-align: center;
  white-space: nowrap;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



.myButton {
	-moz-box-shadow: 11px 9px 19px 2px #fff6af;
	-webkit-box-shadow: 11px 9px 19px 2px #fff6af;
	box-shadow: 11px 9px 19px 2px #fff6af;
	background-color:#ffffff;
	border:1px solid #ffaa22;
	display:block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:28px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	width:500px;
	margin: 20px;
}
.myButton:hover {
	background-color:#ffff99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.formsticker {
	padding: 20px;
	display: inline-block;
}

.selected {
	background-color: #0066ff;
}

.stickerlist {
	width: 100%;
}

td { 
    padding: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

#content {
  bottom: 90px;
  left: 10px;
  font-size:20px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 110px;
  overflow: scroll;
  text-align: left;
}
#footer {
 
  height: 90px;
  padding: 10px;
  
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%
}
#header {
  background-image:url('../img/title.gif');
  background-repeat: no-repeat;
  font-size: 12pt;
  height: 110px;
  line-height: 110px;
  text-align: center;
}
#nav {
  border-right: solid gray 5px;
  width: 150px;
}
#nav button {
  max-width: 110px;
  white-space: normal;
}

