/* app css stylesheet */



.myButton {
	-moz-box-shadow: 10px 6px 19px 2px #fff6af;
	-webkit-box-shadow: 10px 6px 19px 2px #fff6af;
	box-shadow: 10px 6px 19px 2px #fff6af;
	background-color:#ffffff;
	border:1px solid #ffaa22;
	display:block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:28px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	width:500px;
	margin: 20px;
}
.myButton:hover {
	background-color:#ffff99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.formsticker {
	padding: 20px;
	display: inline-block;
}

.leftFoot {
	display: inline-block;
	position: absolute;
    left: 10px;
    top: 5px;
    font-size:large
}
.rowCenter {
    display: inline-block;
}
.rightFoot {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 10px;
}

.selected {
	background-color: #000077;
}

.stickerlist {
	width: 100%;
}

td { 
    padding: 0px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}
#wrapper {
	 overflow: hidden;
}
#header {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
#bandMenu {
  font-size: xx-large;
  height: 50px;
  
  text-align: center;
}
#summary {
	height: 30px;
	font-size: medium;
	 text-align: center;
}
#content {
  top: 180px;
  bottom: 80px;
  left: 10px;
  font-size:20px;
  padding: 10px;
  position: absolute;
  right: 0;
  overflow: scroll;
  text-align: left;
}
#footer {
 
  height: 80px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%
}



