<div align="center">

<img src="img/examples.png" />

<FONT FACE="Times New Roman, Times, serif" SIZE="3"><I>"You are my witnesses," 
      declares the LORD, "and My servant whom I have chosen, so that you may know 
      and believe Me and understand that I am He. Before Me no god was formed, 
      nor will there be one after Me. I, even I, am the LORD, and apart from Me 
      there is no savior.&quot; - Isaiah 43:10-11 (NIV)</I></FONT> <BR>
      <BR>
      <BR>
      <IMG SRC="itstime.gif" WIDTH="236" HEIGHT="32" ALT="It's Time to Speak Up!"><BR>
      <FONT SIZE="2" FACE="Verdana, Arial, Helvetica, sans-serif">Why be silent 
      when you can witness to hundreds of people with Christian bumper stickers? 
      These high quality, vinyl bumper stickers are available in attractive colors 
      with hundreds of messages. Some are even available in foreign languages.</FONT> 
      <BR>
      
</div>
