<div>

     <center><b><h2>IMPORTANT: When ordering your bumper stickers <br> please be sure to include your postal mailing address.</h2></b></center> <center>There is no 
      charge for bumper stickers - as long as the Lord enables us to do this.</center>
      <center>However, we do accept donations.</center><br>




<button ng-click="print()">Print</button>

<div ng-repeat="item in items | filter:{selected:true}">
<textarea rows="4" cols="60" class="formsticker">{{ item.title}}</textarea>
</div>



      
      
      <center> You can order your bumper stickers via e-mail, phone, or postal mail.</center>
      <BR>

<img SRC="img/usmail.gif" WIDTH="46" HEIGHT="38" ALT="Postal Mail" ALIGN="MIDDLE">:
<textarea rows="4">
Testimony Time
P.O. Box 505
St. Ann, MO 63074
</textarea>
Your Postal Address:
<textarea rows="4">
</textarea>

      <br/>
      <img SRC="img/phone.gif" WIDTH="48" HEIGHT="39" ALT="Phone" ALIGN="TEXTTOP"><textarea rows='1'>(636) 462-2109</textarea>
      <br/>
      <img SRC="img/email.gif" WIDTH="52" HEIGHT="51" ALT="E-Mail" ALIGN="TEXTTOP"><A HREF="mailto:christianbumpersticker@gmail.com">christianbumpersticker@gmail.com</A>
      <br/>
Comments:
<textarea rows="5" cols="60">
</textarea>
<br/>


phone number with call times? check local time? and only show when valid



</div>
